<ion-header>
  <ion-toolbar>
    <ion-title>neuer Druck-Auftrag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-label>
        Du hast einen neuen Druck-Auftrag bekommen!
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-textarea>

      </ion-textarea>
      </ion-row>
      <ion-row>
        <ion-label>
          Möchtest Du diesen Druck-Auftrag annehmen?
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-button size ="large"  (click)="AuftragAnnehmen()">
          ja, Auftrag annehmen
        </ion-button>

        <ion-button size = "large" (click) = "AuftragAblehnen()">
          nein, Auftrag ablehnen
        </ion-button>
      </ion-row>
  </ion-grid>

</ion-content>
