ion-content{
  --ion-background-color:#73B5E1;
}

ion-input{

  color:#FFFFFF;
}

ion-checkbox{
  color:#FFFFFF;
}

ion-label{
  color:#FFFFFF;
}

ion-button{
  background-color:#507EB2;
}
