<ion-header>
  <ion-toolbar>
    <ion-title>Wo in meiner Umgebung werden 3D-gedruckte Gegenstände benötigt?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map" class="map"></div>
</ion-content>
