<ion-content>
  <div class="auth-container">
    <div class="auth-body">
      <div class="logo">
        <b>Print2Protect Anmeldung</b>
      </div>
      <ion-list lines="full" mode="ios" floating-form>
        <div class="buttons">
          <form (ngSubmit)="connect()" #registerForm="ngForm">
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="email" name="email"  [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Passwort</ion-label>
              <ion-input type="password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
            <ion-button mode="ios" size="small" fill="outline" color="dark" expand="block" type="submit">Login</ion-button>
          </form>
          <a (click)="forgotPassword()">Passwort vergessen</a>
          <ion-button mode="ios" size="small" fill="outline" color="dark" expand="block" (click)="subscribe()">Subscribe</ion-button>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
