
 ion-content{
  --ion-background-color:#73B5E1;
}
 ion-input{

  color:#FFFFFF;
 }

 ion-checkbox{
   color:#FFFFFF;
 }

 ion-label{
   color:#FFFFFF;
 }

 ion-button{
   fill:#507EB2;

 }

//        hellblau: #73b5fc,
//        weiss: #FFFFFF,
//        dunkelblau: #507EB2


