<ion-header>
  <ion-toolbar>
    <ion-title>Print2Protect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-input type="email"  [(ngModel)]="mailadresse">
            Email-Adresse
  </ion-input>

  <ion-input typpe="number"  [(ngModel)]="plz">
          Postleitzahl
  </ion-input>

  <ion-button (click)="login()" size ="large">
          einloggen
  </ion-button>

</ion-content>
